@import '@fontsource/belleza';
@import '@fontsource/fira-mono';
@import '@fontsource/montserrat';

:root {
	--font-mono: 'Fira Mono', monospace;
	--font-heading: Belleza, Helvetica, Arial, Ubuntu, Roboto, -apple-system, sans-serif;
	--font-body: Montserrat, -apple-system, sans-serif;
	--pure-white: #ffffff;
	--primary-color: #346667;
	--secondary-color: #97b1b0;
	--tertiary-color: #474643;
	--accent-color: #ff3e00;
	--text-color: #121212;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-display: swap;
	font-family: var(--font-body);
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	text-transform: uppercase;
}
